@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --color-baby: #f7f9f7;
  --color-error: #ff4242;
  --color-highlight: #ffae03;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer components {
  .button {
    padding: --spacing(2);
    border-radius: var(--radius-lg);
    display: block;
    color: var(--color-baby);
    &:is(:focus, :hover) {
      cursor: pointer;
    }
  }
}
