@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --color-baby: #f7f9f7;
  --color-error: #ff4242;
  --color-highlight: #ffae03;
}

@layer components {
  .button {
    padding: --spacing(2);
    border-radius: var(--radius-lg);
    display: block;
    color: var(--color-baby);
    &:is(:focus, :hover) {
      cursor: pointer;
    }
  }
}
